@font-face {
  font-family: "Julius Sans One";
  src: url("../assets/fonts/JuliusSansOne-Regular.ttf");
}

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Julius Sans One',
    sans-serif;
  list-style: none;
  font-weight: 900;
  text-decoration: none;
  color: #999;
}

h1 {
  font-size: clamp(3rem, 2.5vw, 6rem);
  color: khaki;
  user-select: none;
}

h2 {
  font-size: clamp(2rem, 2.5vw, 1.8rem);
  user-select: none;
}

h3 {
  font-size: 1.3em;
}

a:hover {
  color: palevioletred;
}

body {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.logo {
  font-size: 1.2rem;
  color: khaki;
}

.img-home {
  max-width: 20em;
  max-height: 20em;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

/* MOBILE FIRST */

/* layout */

/* home */

/* .flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  margin: 1em;
  gap: 1em;
} */

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  margin: 1em;
  gap: 1em;
}

.home-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, max-content);
  grid-template-areas:
    "header"
    "main"
    "gallery"
    "footer";
}

.home-main {
  grid-area: main;
}

.home-gallery {
  grid-area: gallery;
}

.animation {
  transform:
    perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg) scale(0.9, 0.9);
  border-radius: 50%;
  border: 5px solid #e6e6e6;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out transform;
}

.animation:hover {
  transform: translate3d(0px, 0px, -250px);
}

.welcome-vid {
  border-radius: 1em;
  width: 100%;
}


/* about us */

.about-layout {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 4;
  grid-template-areas:
    "header"
    "brand"
    "main"
    "footer";
}

.about-main {
  grid-area: main;

}

.about-brand {
  grid-area: brand;
}

.about-text {
  line-height: 1.5;
}

.welcome {
  max-width: 90vw;
  border-radius: 1em;
}

/* products */

.products-layout {
  display: grid;
  grid-template-columns: repeat();
  grid-template-rows: repeat();
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.products-main {
  grid-area: main;
}

.card-products {
  display: flex;
  flex-direction: column;
  background: white;
  width: 16rem;
  height: 30rem;
  align-items: center;
  padding: 1rem;
  justify-content: stretch;
  gap: 1.5rem;
  border-radius: 1.2rem;
  vertical-align: top;
  overflow: hidden;
}

.card-products img {
  width: 13rem;
  height: 13rem;
}

.flex-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;
  flex-wrap: wrap;
}

/* services */

.services-layout {
  grid-template-rows: repeat();
  grid-template-columns: repeat();
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.services-main {
  grid-area: main;
}

.card-services {
  background: linen;
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 10rem;
  border-radius: 0 1.2rem 1.2rem 0;
  overflow: hidden;
}

.card-services:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.20);
}

.text {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 1rem;
}

/* q&a */

.qa-layout {
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: 3, max-content;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.qa-bg {
  table-layout: auto;
  width: 90vw;
  border: 2px solid palevioletred;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

th,
td {
  height: 4rem;
  border: 2px solid palevioletred;
  padding: 1rem;
}

/* form */

.form-layout {
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: 3, max-content;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.form-main {
  grid-area: main;
}

.form-bg {
  width: 90vw;
  height: max-content;
  padding: 2rem;
  /* margin: 8vh; */
  background: plum;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.input {
  height: 2.5rem;
}

.request {
  height: 6rem;
  resize: none;
}

/* BASE */

/* menu hamburguesa */

/* .header {
  max-width: 100%;
  grid-area: header;
  user-select: none;
  display: flex;
  flex-direction: column;
} */

/* footer */

.footer {
  background-color: lavender;
  max-width: 100vw;
  grid-area: footer;
  user-select: none;
  border-radius: 1em;
  padding: 1em;
}

.footer-logos {
  margin: 2em;
  max-width: 3em;
  max-height: 3em;
}

.footer-map {
  max-width: 90%;
  margin-top: 2em;
  border-radius: 1em;
}

/* media-query */

@media only screen and (min-width: 40em) and (max-width: 80em) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer-section {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
  }

  .form-screen {
    width: 80vh;
  }
}

@media only screen and (min-width:70em) {
  .header {
    max-height: 13vh;
    background-color: ghostwhite;
    box-shadow: 3px 3px 2px 0.2px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .about-text {
    max-width: 50%;
  }

  .menu {
    height: min-content;
    display: flex;
    flex-direction: row;
  }

  nav {
    width: 100%;
    height: fit-content;
  }


  nav a {
    font-size: 1.2rem;
  }

  .footer-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-evenly;
  }

  .form-screen {
    width: 70vh;
  }
}