<!DOCTYPE html>
<html lang="es-AR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mina Beauty Concept - Productos</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body class="products-layout">
  <!-- Menu -->
  <header class="header flex-col">
    <!-- <a href="../index.html" class="logo"><img src="../assets/img/IMG-20220725-WA0001.jpg" alt="logo-mina"
        class="logo-size"></a> -->
    <nav>
      <!-- Lista de hyper-vinculos a las paginas -->
      <ul class="menu">
        <li><a href="../index.html"><img src="../assets/img/logo-mina.svg" alt=""></a></li>
        <li><a href="./nosotros.html">NOSOTROS</a></li>
        <li><a href="./productos.html">PRODUCTOS</a></li>
        <li><a href="./servicios.html">SERVICIOS</a></li>
        <li><a href="./q_a.html">Q&A</a></li>
        <li><a href="./contacto.html">CONTACTO</a></li>
      </ul>
    </nav>
  </header>
  <!-- Seccion principal -->
  <main class="products-main flex-col">
    <h2>Nuestros productos</h2>
    <section class="flex-cards">
      <div class=" card-products">
        <h4>Crema antiage</h4>
        <img src="https://www.bioexel.com/f/203-g.jpg" alt="crema-antiage">
        <p>Ayuda a evitar el envejecimiento prematuro de la piel, provocado por los radicales libres, gracias a la
          acción de los
          Liposomas Anti-Age y Liposomas de Vitamina E.
          Nutre, protege y mantiene la piel hidratada.</p>
      </div>
      <div class="card-products">
        <h4>Agua micelar</h4>
        <img src="https://www.bioexel.com/f/458g.jpg" alt="agua-micelar">
        <p>Sus micelas de altísimo poder de absorción retiran rápida y confortablemente restos de maquillaje e
          impurezas.
          Brinda una sensación de limpieza y frescura inmediata ayudando a normalizar el pH fisiológico y el film
          hidrolipídico
          natural de la piel.</p>
      </div>
      <div class="card-products">
        <h4>Gel cream contorno de ojos</h4>
        <img src="https://www.bioexel.com/f/22322615-1.jpg" alt="gel-cream">
        <p>Humecta, nutre y ayuda a minimizar la apariencia de ojeras y finas líneas del área de contorno de ojos.</p>
      </div>
      <div class="card-products">
        <h4>INSTANT SHINE Vitamina E</h4>
        <img src="https://www.bioexel.com/f/23588510-1.jpg" alt="vitamina-e">
        <p>Otorga brillo, luminosidad y acondiciona en forma instantánea.
          Loción siliconada evanescente.</p>
      </div>
      <div class="card-products">
        <h4>Gel hidratante reparador con Vitamina C</h4>
        <img src="https://www.bioexel.com/f/863-g.jpg" alt="vitamina-c">
        <p>Hidrata y suaviza. Mejora la luminosidad y tersura epidérmica. Posee acción antioxidante.
          Forma un film resistente a los rayos UVA/UVB y radicales libres.</p>
      </div>
      <div class="card-products">
        <h4>LOCIÓN HERBÁCEA con Aloe Vera</h4>
        <img src="https://www.bioexel.com/f/87086023-1.jpeg" alt="serum">
        <p>Los extractos vegetales constituyentes de esta loción ayudan a descongestionar y tonificar las zonas a
          tratar, a la vez que higienizan y humectan la piel. Emoliente.</p>
      </div>
    </section>
  </main>
  <footer class="footer flex-col">
    </section>
    <section class="footer-section">
      <section>
        <!-- Links de las paginas del sitio web -->
        <h3 class="mobile">SITE MAP</h3>

        <ul class="flex-col">
          <li><a href=" ./index.html">HOME</a></li>
          <li><a href="./views/nosotros.html">NOSOTROS</a></li>
          <li><a href="./views/productos.html">PRODUCTOS</a></li>
          <li><a href="./views/servicios.html">SERVICIOS</a></li>
          <li><a href="./views/q_a.html">Q&A</a></li>
          <li><a href="./views/contacto.html">CONTACTO</a></li>
        </ul>
      </section>
      <!-- Links a las redes sociales-->
      <section>
        <h3 class="mobile">REDES SOCIALES</h3>

        <ul class="flex-row">
          <li>
            <a href="https://www.instagram.com/minabeautyconcept/" target="_blank">
              <img src="https://cdn-icons-png.flaticon.com/128/174/174855.png" alt="logo instagram"
                class="footer-logos">
            </a>
          </li>
          <li>
            <a href="https://api.whatsapp.com/send?phone=543415441876&text=Hola, Necesito mas informacion!"
              target="_blank">
              <img src="https://cdn-icons-png.flaticon.com/128/733/733585.png" alt="logo whatsapp" class="footer-logos">
            </a>
          </li>
        </ul>
      </section>
      <!-- iframe de google maps -->
      <section>
        <h3 class="mobile">UBICACION</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13402.28443719826!2d-60.704377166078025!3d-32.88306539503988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b653965498aeeb%3A0xbcfa923bc21fb105!2sBlvd.%20Rondeau%203500%2C%20S2000%20Rosario%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1658719015658!5m2!1ses!2sar"
          width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade" class="footer-map">
        </iframe>
      </section>
    </section>
    <h4>Copyright &#174; 2022 Roberta Farbman</h4>
  </footer>
</body>

</html>